:root {
  --background-header: #CFD9DF;
  --primary-color: #073861;
  --secondary-color: #b9300ac0;
  --box-shadow: 0 5px 10px rgba(31, 14, 14, 0.185);
  --text-color:#082e50;
  --heading-font-family:"Playfair Display", serif;
  --default-font-family:"Poppins", sans-serif;

}

body {
  margin: 50px auto;
  font-family: var(--default-font-family);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--heading-font-family);
  color:var(--text-color);
  }

.hero{
background: var(--background-header);
text-align: center;
margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-size: 84px;
}

.hero h2 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 20px;
}

.hero h3 {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
  opacity: 0.7;
  }

h2 {
  font-size: 64px;
  
}

p {
  font-size: 18px;
  line-height: 2;
  padding: 10px 5px;
}

.text-center{
color: var(--primary-color);
font-weight: bold;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  padding: 60px 5px;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration:none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: bold;
}

.secondary-link:hover {
  color: white;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

@media (max-width: 700px) {

  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size:30px;
    text-align: center;
    margin-top: 5px;
    
  }

.hero h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  opacity: 0.7;
}

p {
    text-align: center;
    font-size: 16px;
    color: var(--primary-color);
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .hero{
    padding: 0px 0px;
  }
}