:root {
  --background-header: #CFD9DF;
  --primary-color: #073861;
  --secondary-color: #b9300ac0;
  --box-shadow: 0 5px 10px rgba(31, 14, 14, 0.185);
  --text-color:#082e50;
  --heading-font-family:"Playfair Display", serif;
  --default-font-family:"Poppins", sans-serif;

}

body {
  margin: 50px auto;
  font-family: var(--default-font-family);
  padding: 20px;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--heading-font-family);
  color:var(--text-color);
  }

.hero{
background: var(--background-header);
text-align: center;
margin: 0;
padding: 60px 20px;
}

h1,
h2,
h3 {
  margin: 20px;
  line-height: 1;
}

h1 {
  font-size: 80px;
}

.hero h2 {
  font-size: 32px;
  font-weight: 700;
  padding-top: 10px;
}

.hero h3 {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
  opacity: 0.7;
  }

h2 {
  font-size: 36px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.text-center{
color: var(--primary-color);
font-weight: bold;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  padding: 20px 20px;
}

.navigation-links a {
  margin: 10px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.logo{
  max-width: 60px;
  padding: 3px;
}

.primary-link:hover {
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration:none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: bold;
}

.secondary-link:hover {
  color:var(--secondary-color);
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
  color: var(--secondary-color);
}

.about-paragraphs p {
  color:var(--text-color);
  font-size:smaller;
}

.email-link, .twitter-link, .instagram-link{
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 26px;
  text-decoration: none;
}

.email-link:hover,  .twitter-link:hover, .instagram-link:hover{
  text-decoration: underline;
  color: var(--secondary-color);
}

.content-container h1{
  font-size: 54px;
}

.content-container{
  padding: 60px 20px;
}

.content{
  padding: 0;
}

.content h1 {
  line-height: 80px;
  font-size: 54px;
}

.content h2{
font-family: var(--default-font-family);
font-size: 18px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  }


.nav-link{
    color: var(--primary-color);
    }
 .nav-link:hover{
  text-decoration: underline;
  color: var(--secondary-color);
 }
.navbar-brand{
  color: var(--primary-color);
 }
 .navbar-brand:hover {
   color: var(--secondary-color);
 }

@media (max-width: 800px) {

 h1 {
    font-size: 40px;
    line-height: 1;
  }
  
  .content-container h1 {
      font-size: 44px;
      line-height: 1.5;
    }

  h2 {
    font-size:30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2px;
  }

.hero h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  opacity: 0.7;
}

p {
    text-align: center;
    font-size: 16px;
    color: var(--primary-color);
    line-height: 1.2;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

}

footer{
  margin: 60px;
  margin-bottom: 60px;
}

footer .social-links a{
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 13px  ;
  font-size: 20px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
color: white;
background-color: var(--primary-color);
}

footer .contact-box{
  background: var(--background-header);
  padding: 30px;
  border-radius: 10px;
}

footer .contact-box p{
  margin: 0 20px;
} 

footer .contact-box h3 {
  margin: 0 10px;
}

.container li{
list-style: none;
font-size: 18px;
font-family: var(--default-font-family);
}

